<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TurnKnob.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B740FA51F3F410F0029DD94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B740FB91F3F41100029DD94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B740FC41F3F41100029DD94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
